[user]
    email = Kai.Patel@flextrade.com
    name = Kai Patel

[merge]
    # FIXME
    tool = nvim -d
    conflictstyle = diff3
    keepbackup = false

[core]
    excludesFile = ~/.gitignoreglobal
    pager = delta

[pull]
    rebase = true

[push]
    default = current

[rerere]
    enabled = true

[diff]
    algorithm = histogram
    colorMoved = default
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[fetch]
    prune = true

[maintenance]
    auto = false
    strategy = incremental

[delta]
    navigate = true
    light = false
    side-by-side = true

[interactive]
    diffFilter = delta --color-only

[sequence]
    editor = nvim

[alias]
    dft = difftool
    dlog = "-c diff.external=difft log -p --ext-diff"
