[column]
    ui = auto

[branch]
    sort = -committerdate

[commit]
    verbose = true

[tag]
    sort = version:refname

[user]
    email = 00kaipatel@gmail.com
    name = Kai Patel

[merge]
    tool = nvimdiff
    conflictstyle = zdiff3
    keepBackup = false
    prompt = false

[core]
    excludesFile = ~/.gitignoreglobal

[pull]
    rebase = true

[push]
    default = current

[rerere]
    enabled = true

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    external = difft

[difftool]
    prompt = false

[pager]
    difftool = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[sequence]
    editor = nvim

[alias]
    dlog = "-c diff.external=difft log -p --ext-diff"
    dshow = "-c diff.external=difft show --ext-diff"
    fpush = "push --force-with-lease"

[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
[init]
	defaultBranch = main
